external

*.sublime-*

bin
bin_rel
build

tutorial/data
tutorial/.ipynb_*
tutorial-old/.ipynb_*

test.obj
pyigl.cpython*
pyigl_classes.cpython*
__pycache__

igl.egg-info
libigl.egg-info
*.code-workspace
out.obj
test.off
.vscode

data
site

**/meshplot

.DS_Store

ttt.py
*coverage*
htmlcov
junit
.ipynb_checkpoints/tutorials-checkpoint.ipynb
.*.un~
.*.swp
.*.swo
*~
dist/
igl/*
