name: Wheels

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build_sdist:
    name: Build SDist
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Build SDist
      run: pipx run build --sdist

    - name: Check metadata
      run: pipx run twine check dist/*

    - uses: actions/upload-artifact@v4
      with:
        name: artifact-sdist
        path: dist/*.tar.gz

          #build_wheels:
          #  name: Build ${{ matrix.cpversion }} wheels on ${{ matrix.os }}
          #  runs-on: ${{ matrix.os }}
          #  strategy:
          #    fail-fast: false
          #    matrix:
          #      os: [ubuntu-latest, ubuntu-24.04-arm, windows-latest, macos-13, macos-14]
          #      cpversion: [cp38, cp39, cp310, cp311, cp312, cp313]
          #      # github actions cp38 on macos-14 runners are cross compiling or
          #      # something and confusing the stub generation. Just skip it for now.
          #      # Maybe it'd be friendlier to disable the stub generation for this
          #      # combination.
          #      exclude:
          #        - os: macos-14
          #          cpversion: cp38


          #  steps:
          #    - uses: actions/checkout@v4

          #    - uses: actions/setup-python@v5
          #      with:
          #        python-version: '3.12'

          #    - name: Install cibuildwheel
          #      run: python -m pip install cibuildwheel==2.22.0

          #    - name: Build wheels
          #      # why do I need to specify this cpversion here?
          #      env:
          #        CIBW_ARCHS: "auto64"
          #        CIBW_BUILD: "${{ matrix.cpversion }}-*"
          #        # why isn't auto64 working?
          #        CIBW_SKIP: "cp*-manylinux_i686 cp*-musllinux* cp*-win32"  
          #      run: python -m cibuildwheel --output-dir wheelhouse

          #    - uses: actions/upload-artifact@v4
          #      with:
          #        name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
          #        path: ./wheelhouse/*.whl
